# 1. 데이터 전처리

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

train =pd.read_csv('./train_ver2.csv')
test =pd.read_csv('./test_ver2.csv')

In [2]:
train.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [3]:
# 제품 변수 컬럼 설정
prods = train.columns[24:]

In [4]:
# 결측값 확인
train[prods].isna().sum()

ind_ahor_fin_ult1        0
ind_aval_fin_ult1        0
ind_cco_fin_ult1         0
ind_cder_fin_ult1        0
ind_cno_fin_ult1         0
ind_ctju_fin_ult1        0
ind_ctma_fin_ult1        0
ind_ctop_fin_ult1        0
ind_ctpp_fin_ult1        0
ind_deco_fin_ult1        0
ind_deme_fin_ult1        0
ind_dela_fin_ult1        0
ind_ecue_fin_ult1        0
ind_fond_fin_ult1        0
ind_hip_fin_ult1         0
ind_plan_fin_ult1        0
ind_pres_fin_ult1        0
ind_reca_fin_ult1        0
ind_tjcr_fin_ult1        0
ind_valo_fin_ult1        0
ind_viv_fin_ult1         0
ind_nomina_ult1      16063
ind_nom_pens_ult1    16063
ind_recibo_ult1          0
dtype: int64

In [5]:
train['ind_nomina_ult1'].value_counts()

0.0    12885285
1.0      745961
Name: ind_nomina_ult1, dtype: int64

In [6]:
train['ind_nom_pens_ult1'].value_counts()

0.0    12821161
1.0      810085
Name: ind_nom_pens_ult1, dtype: int64

In [7]:
train[prods] = train[prods].fillna(0.0)

In [8]:
train[prods].isna().sum()

ind_ahor_fin_ult1    0
ind_aval_fin_ult1    0
ind_cco_fin_ult1     0
ind_cder_fin_ult1    0
ind_cno_fin_ult1     0
ind_ctju_fin_ult1    0
ind_ctma_fin_ult1    0
ind_ctop_fin_ult1    0
ind_ctpp_fin_ult1    0
ind_deco_fin_ult1    0
ind_deme_fin_ult1    0
ind_dela_fin_ult1    0
ind_ecue_fin_ult1    0
ind_fond_fin_ult1    0
ind_hip_fin_ult1     0
ind_plan_fin_ult1    0
ind_pres_fin_ult1    0
ind_reca_fin_ult1    0
ind_tjcr_fin_ult1    0
ind_valo_fin_ult1    0
ind_viv_fin_ult1     0
ind_nomina_ult1      0
ind_nom_pens_ult1    0
ind_recibo_ult1      0
dtype: int64

In [9]:
train.shape

(13647309, 48)

In [10]:
test.shape

(929615, 24)

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           object
 3   pais_residencia        object
 4   sexo                   object
 5   age                    object
 6   fecha_alta             object
 7   ind_nuevo              float64
 8   antiguedad             object
 9   indrel                 float64
 10  ult_fec_cli_1t         object
 11  indrel_1mes            object
 12  tiprel_1mes            object
 13  indresi                object
 14  indext                 object
 15  conyuemp               object
 16  canal_entrada          object
 17  indfall                object
 18  tipodom                float64
 19  cod_prov               float64
 20  nomprov                object
 21  ind_actividad_cliente  float64
 22  renta                  float64
 23  segmento               object
 24  ind_ahor_fin_ult1      int64
 25  ind_aval_fin_ult1      int64
 26  ind_cco_fin_ult1       int64
 27  ind_cder_fin_ult1      int64
 28  ind_cno_fin_ult1       int64
 29  ind_ctju_fin_ult1      int64
 30  ind_ctma_fin_ult1      int64
 31  ind_ctop_fin_ult1      int64
 32  ind_ctpp_fin_ult1      int64
 33  ind_deco_fin_ult1      int64
 34  ind_deme_fin_ult1      int64
 35  ind_dela_fin_ult1      int64
 36  ind_ecue_fin_ult1      int64
 37  ind_fond_fin_ult1      int64
 38  ind_hip_fin_ult1       int64
 39  ind_plan_fin_ult1      int64
 40  ind_pres_fin_ult1      int64
 41  ind_reca_fin_ult1      int64
 42  ind_tjcr_fin_ult1      int64
 43  ind_valo_fin_ult1      int64
 44  ind_viv_fin_ult1       int64
 45  ind_nomina_ult1        float64
 46  ind_nom_pens_ult1      float64
 47  ind_recibo_ult1        int64
dtypes: float64(8), int64(23), object(17)
memory usage: 4.9+ GB

In [12]:
# 24개 제품 중 하나도 보유 하지 않는 고객 데이터를 제거한다.
no_product =train[prods].sum(axis=1)==0
train = train[~no_product]

In [13]:
train.shape

(11091070, 48)

# 각 변수들을 범주형(categorical), 수치형(numerical)으로 구분하기

column 분석

fetch_dato 날짜 데이터  
ncodpers 고객 번호

fecha_alta 은행과 처음 거래한 날짜 날짜 데이터  
ult_fec_cli_it 1등급 고객으로서 최근 날짜 날짜 데이터  

ind_empleado 고용 지표 categorical  
pais_residencia 거주 국가 categorical  
sexo 성별 categorical  
ind_nuevo 신규 고객 인덱스 categorical ////////  
indrel 고객 등급 categorical  
indrel_1mes 월초 기준 고객 등급 categorical/////////////  
tiprel_1mes 월초 기준 고객 관계 유형 categorical//////////  
indresi 거주 지표 categorical  
indext 외국인 지표 categorical  
conyuemp 배우자 지표 categorical  
canal_entrada 고객 유입 채널 categorical  
indfall 고객 사망 여부 categorical  
tipodom 주소 유형 categorical  
cod_prov 지방 코드 categorical////////  
nomprov 지방 이름 categorical  
ind_actividad_client 활발성 지표 categorical///////  
segmento 분류 categorical  
	
age 나이 numerical  
renta 가구 총 수입 numerical  
antiguedad 고객 누적 기간 월수 numerical

In [14]:
train['cod_prov'].unique()

array([29., 13., 50., 45., 24., 20., 10., 17., 49.,  8., 37.,  9., 22.,
       31.,  5., 40., 27., 25., 28.,  3., 42., 41., 39.,  7., 47., 36.,
       46., 44., 15., 32., 23., 16., 48., 12., 26.,  2.,  6., 30., 11.,
       nan,  4., 19., 34., 35., 14., 21., 18., 33., 38., 52., 43.,  1.,
       51.])

In [15]:
train['nomprov'].unique()

array(['MALAGA', 'CIUDAD REAL', 'ZARAGOZA', 'TOLEDO', 'LEON', 'GIPUZKOA',
       'CACERES', 'GIRONA', 'ZAMORA', 'BARCELONA', 'SALAMANCA', 'BURGOS',
       'HUESCA', 'NAVARRA', 'AVILA', 'SEGOVIA', 'LUGO', 'LERIDA',
       'MADRID', 'ALICANTE', 'SORIA', 'SEVILLA', 'CANTABRIA',
       'BALEARS, ILLES', 'VALLADOLID', 'PONTEVEDRA', 'VALENCIA', 'TERUEL',
       'CORUÑA, A', 'OURENSE', 'JAEN', 'CUENCA', 'BIZKAIA', 'CASTELLON',
       'RIOJA, LA', 'ALBACETE', 'BADAJOZ', 'MURCIA', 'CADIZ', nan,
       'ALMERIA', 'GUADALAJARA', 'PALENCIA', 'PALMAS, LAS', 'CORDOBA',
       'HUELVA', 'GRANADA', 'ASTURIAS', 'SANTA CRUZ DE TENERIFE',
       'MELILLA', 'TARRAGONA', 'ALAVA', 'CEUTA'], dtype=object)

cod_prov 지방 코드 categorical  
nomprov 지방 이름 categorical  
같은 값으로 보여지므로 base line에서는 nomprov를 삭제하겠습니다.

In [16]:
train.drop('nomprov', axis=1, inplace=True)
test.drop('nomprov', axis=1, inplace=True)

In [17]:
train.iloc[:,:24].describe()

,ncodpers,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1
count,1.109107e+07,1.106920e+07,1.106920e+07,11069203.0,1.101489e+07,1.106920e+07,8.913731e+06,1.109107e+07
mean,8.359488e+05,5.314456e-02,1.045639e+00,1.0,2.667083e+01,5.615199e-01,1.332271e+05,1.258670e-04
std,4.267510e+05,2.243217e-01,2.114370e+00,0.0,1.279447e+01,4.962009e-01,2.249984e+05,1.121834e-02
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00
25%,4.544570e+05,0.000000e+00,1.000000e+00,1.0,1.500000e+01,0.000000e+00,6.868434e+04,0.000000e+00
50%,9.442930e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,1.000000e+00,1.017018e+05,0.000000e+00
75%,1.190864e+06,0.000000e+00,1.000000e+00,1.0,3.500000e+01,1.000000e+00,1.554008e+05,0.000000e+00
max,1.553571e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00

tipodom은 모든 값이 1이여서 예측에 도움이 될 거 같지 x

In [19]:
train.drop('tipodom', axis=1, inplace=True)
test.drop('tipodom', axis=1, inplace=True)

In [18]:
train.iloc[:,:24].describe(include='O')

,fecha_dato,ind_empleado,pais_residencia,sexo,age,fecha_alta,antiguedad,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,segmento
count,11091070,11069204,11069204,11069145,11091070,11069204,11091070,5155,10998349.0,10998349,11069204,11069204,1594,10989233,11069204,10988868
unique,17,5,110,2,231,6707,507,207,13.0,5,2,2,2,159,2,3
top,2016-05-28,N,ES,V,24,2014-07-28,21,2015-07-09,1.0,A,S,N,N,KHE,N,02 - PARTICULARES
freq,696539,11061238,11014879,5993739,442962,54177,118083,280,6372011.0,5920750,11014880,10594346,1577,3571637,11044360,6153576

ind_empleado, pais_residencia, indresi, indext, indfall  
값이 하나로 치중되어 있어서 의심스러움

범주형(categorical), 수치형(numerical) 데이터를 전처리합니다.  
범주형 데이터는 .factorize()를 통해 Label Encoding을 수행합니다.  
데이터 타입이 object로 표현되는 수치형 데이터에서는 .unique()를 통해 특이 값들을 대체하거나 제거하고, 정수형 데이터로 변환해 줍니다.

train set과 test set의 columns를 한번에 전처리 하기 위해 통합 시도

In [23]:
df = pd.concat([train, test], axis=0)

In [26]:
df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,0,0,0,35,2015-01-12,0,6,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015-01-28,1050611,0,0,1,23,2012-08-10,0,35,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-01-28,1050612,0,0,1,23,2012-08-10,0,35,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-01-28,1050613,0,0,0,22,2012-08-10,0,35,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015-01-28,1050614,0,0,1,23,2012-08-10,0,35,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929610,2016-06-28,660237,N,ES,V,55,1999-04-21,0,206,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929611,2016-06-28,660238,N,ES,V,30,2006-11-29,0,115,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929612,2016-06-28,660240,N,ES,V,52,2006-11-29,0,115,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929613,2016-06-28,660243,N,ES,V,32,2006-11-29,0,115,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929614,2016-06-28,660248,N,ES,V,92,2006-11-29,0,115,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

test datasets에는 상품 정보(24: 부분의 columns)가 없어서 모두 NaN 값으로 들어감

In [31]:
train.columns[22:]

Index(['ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

테스트 데이터에 없는 상품 정보 columns는 0으로 대체

In [32]:
for col in train.columns[22:]:
    test[col] = 0
df = pd.concat([train, test], axis=0)

In [33]:
df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,0,0,0,35,2015-01-12,0,6,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,0,0,1,23,2012-08-10,0,35,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,0,0,1,23,2012-08-10,0,35,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,0,0,0,22,2012-08-10,0,35,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,0,0,1,23,2012-08-10,0,35,0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929610,2016-06-28,660237,N,ES,V,55,1999-04-21,0,206,1,...,0,0,0,0,0,0,0,0.0,0.0,0
929611,2016-06-28,660238,N,ES,V,30,2006-11-29,0,115,1,...,0,0,0,0,0,0,0,0.0,0.0,0
929612,2016-06-28,660240,N,ES,V,52,2006-11-29,0,115,1,...,0,0,0,0,0,0,0,0.0,0.0,0
929613,2016-06-28,660243,N,ES,V,32,2006-11-29,0,115,1,...,0,0,0,0,0,0,0,0.0,0.0,0
929614,2016-06-28,660248,N,ES,V,92,2006-11-29,0,115,1,...,0,0,0,0,0,0,0,0.0,0.0,0

In [34]:
# 학습에 사용할 변수를 담을 list 생성
features = []

# 범주형 변수를 .factorize() 함수를 통해 label encoding
categorical_cols = ['ind_empleado', 'pais_residencia', 'sexo', 'ind_nuevo', 'indrel',
                    'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext', 'conyuemp', 'canal_entrada',
                    'indfall', 'cod_prov', 'ind_actividad_cliente', 'segmento']
for col in categorical_cols:
    df[col], _ = df[col].factorize()
features += categorical_cols

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12020685 entries, 0 to 929614
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           int64
 3   pais_residencia        int64
 4   sexo                   int64
 5   age                    object
 6   fecha_alta             object
 7   ind_nuevo              int64
 8   antiguedad             object
 9   indrel                 int64
 10  ult_fec_cli_1t         object
 11  indrel_1mes            int64
 12  tiprel_1mes            int64
 13  indresi                int64
 14  indext                 int64
 15  conyuemp               int64
 16  canal_entrada          int64
 17  indfall                int64
 18  cod_prov               int64
 19  ind_actividad_cliente  int64
 20  renta                  object
 21  segmento               int64
 22  ind_ahor_fin_ult1      int64
 23  ind_aval_fin_ult1      int64
 24  ind_cco_fin_ult1       int64
 25  ind_cder_fin_ult1      int64
 26  ind_cno_fin_ult1       int64
 27  ind_ctju_fin_ult1      int64
 28  ind_ctma_fin_ult1      int64
 29  ind_ctop_fin_ult1      int64
 30  ind_ctpp_fin_ult1      int64
 31  ind_deco_fin_ult1      int64
 32  ind_deme_fin_ult1      int64
 33  ind_dela_fin_ult1      int64
 34  ind_ecue_fin_ult1      int64
 35  ind_fond_fin_ult1      int64
 36  ind_hip_fin_ult1       int64
 37  ind_plan_fin_ult1      int64
 38  ind_pres_fin_ult1      int64
 39  ind_reca_fin_ult1      int64
 40  ind_tjcr_fin_ult1      int64
 41  ind_valo_fin_ult1      int64
 42  ind_viv_fin_ult1       int64
 43  ind_nomina_ult1        float64
 44  ind_nom_pens_ult1      float64
 45  ind_recibo_ult1        int64
dtypes: float64(2), int64(38), object(6)
memory usage: 4.2+ GB

날짜 데이터가 아닌 'age' 'antiguedad' 'renta'는 결측값을 -99로 대체

In [38]:
df.age.unique()

array([' 35', ' 23', ' 22', ' 24', ' 65', ' 28', ' 25', ' 26', ' 53',
       ' 27', ' 32', ' 37', ' 31', ' 39', ' 63', ' 33', ' 55', ' 42',
       ' 58', ' 38', ' 50', ' 30', ' 45', ' 44', ' 36', ' 29', ' 60',
       ' 57', ' 67', ' 47', ' NA', ' 34', ' 48', ' 46', ' 54', ' 84',
       ' 15', ' 12', '  8', '  6', ' 83', ' 40', ' 77', ' 69', ' 52',
       ' 59', ' 43', ' 10', '  9', ' 49', ' 41', ' 51', ' 78', ' 16',
       ' 11', ' 73', ' 62', ' 66', ' 17', ' 68', ' 82', ' 95', ' 96',
       ' 56', ' 61', ' 79', ' 14', ' 19', ' 13', ' 86', ' 64', ' 20',
       ' 72', ' 89', ' 71', '  7', ' 70', ' 74', ' 21', ' 18', ' 75',
       '  4', ' 80', ' 81', '  5', ' 76', ' 92', ' 93', ' 85', ' 91',
       ' 87', ' 90', ' 94', ' 99', ' 98', ' 88', ' 97', '100', '101',
       '106', '103', '  3', '  2', '102', '104', '111', '107', '109',
       '105', '112', '115', '110', '116', '108', '113', 37, 81, 43, 30,
       41, 67, 59, 46, 36, 47, 69, 39, 44, 38, 34, 42, 31, 40, 48, 54, 51,
       33, 62, 35, 50, 45, 11, 57, 55, 80, 70, 60, 32, 61, 13, 29, 28, 49,
       63, 88, 58, 52, 79, 53, 85, 77, 82, 10, 56, 89, 68, 72, 66, 64, 71,
       74, 75, 27, 22, 23, 76, 78, 65, 21, 26, 19, 83, 90, 12, 14, 86, 93,
       18, 84, 87, 17, 97, 102, 16, 73, 91, 15, 25, 94, 24, 95, 20, 96,
       92, 110, 104, 106, 105, 99, 98, 101, 107, 9, 113, 100, 103, 109, 2,
       112, 3, 111, 8, 7, 6, 108, 115, 116, 5, 4, 114, 117, 164, 118, 127],
      dtype=object)

In [39]:
# 수치형 변수의 특이값과 결측값을 -99로 대체하고, 정수형으로 변환한다
df['age'].replace(' NA', -99, inplace=True)
df['age'] = df['age'].astype('int')

In [42]:
df['antiguedad'].unique()

array(['      6', '     35', '     34', '     NA', '     33', '     31',
       '     21', '     16', '     27', '      9', '     22', '     13',
       '     29', '      8', '     11', '     10', '     28', '     24',
       '      7', '     25', '     14', '     12', '     26', '     23',
       '      1', '     18', '      4', '      3', '     17', '     32',
       '     20', '     15', '     30', '     19', '    157', '     36',
       '     40', '     38', '     37', '     39', '      0', '      5',
       '     47', '     44', '     42', '     46', '     45', '     43',
       '     41', '     57', '     48', '     52', '     49', '     50',
       '     56', '     58', '     51', '     55', '     54', '     53',
       '     59', '     62', '     61', '     60', '     63', '      2',
       '    139', '    165', '    118', '    164', '     94', '    159',
       '    143', '    105', '    151', '    162', '    137', '    150',
       '    128', '    122', '    156', '    119', '    160', '     79',
       '     95', '    132', '    161', '     98', '    127', '     72',
       '    155', '    108', '    163', '    102', '    148', '    115',
       '    146', '    107', '     81', '    216', '    135', '     92',
       '    121', '    198', '    134', '     93', '    140', '    110',
       '    120', '    147', '     64', '     77', '     85', '     99',
       '     78', '    100', '    113', '    154', '    166', '    124',
       '    141', '     66', '    117', '     86', '    193', '     80',
       '    144', '     87', '    126', '    158', '    101', '    116',
       '    235', '     88', '    145', '    103', '    149', '    109',
       '    131', '     97', '    133', '     68', '     84', '    232',
       '    125', '    177', '    112', '     96', '     69', '    171',
       '    142', '    167', '    104', '     76', '     82', '    152',
       '     70', '    138', '    169', '     65', '    129', '    190',
       '    114', '    111', '    176', '    153', '     89', '    136',
       '     83', '    123', '    187', '    106', '    231', '    189',
       '    217', '    172', '    199', '    173', '    174', '    209',
       '    180', '    178', '    168', '    130', '    225', '     67',
       '     73', '    183', '     74', '    206', '     71', '    184',
       '    192', '     91', '     90', '    194', '    182', '    188',
       '    213', '    185', '    195', '    186', '    207', '    208',
       '     75', '    175', '    201', '    203', '    212', '    215',
       '    170', '    228', '    214', '    202', '    196', '    181',
       '    211', '    191', '    205', '    200', '    227', '    218',
       '    219', '    226', '    179', '    224', '    210', '    242',
       '    223', '    237', '    204', '    233', '    220', '    222',
       '    241', '    197', '    221', '    229', '    234', '    240',
       '    243', '    230', '    238', '    246', '    236', '    244',
       '    239', '    245', '-999999', 105, 93, 30, 79, 104, 18, 35, 7,
       103, 34, 87, 100, 102, 36, 81, 94, 86, 26, 32, 96, 22, 72, 83, 54,
       20, 10, 62, 59, 61, 12, 80, 33, 9, 63, 78, 88, 11, 84, 101, 57, 68,
       8, 40, 99, 55, 97, 15, 76, 98, 43, 5, 89, 53, 58, 60, 14, 146, 3,
       31, 77, 38, 56, 6, 70, 45, 51, 64, 52, 41, 23, 17, 48, 66, 108, 25,
       16, 21, 37, 39, 13, 1, 65, 91, 69, 49, 82, 29, 71, 0, 44, 2, 144,
       67, 47, 27, 95, 74, 50, 92, 85, 24, 111, 46, 110, 107, 4, 73, 106,
       75, 109, 42, 112, 90, 129, 19, 113, 28, 134, 195, 127, 126, 122,
       125, 121, 120, 117, 123, 118, 160, 124, 115, 204, 163, 141, 119,
       135, 188, 114, 165, 116, 202, 128, 175, 145, 147, 130, 199, 179,
       162, 156, 168, 157, 177, 180, 136, 184, 225, 196, 140, 133, 131,
       132, 149, 138, 150, 171, 152, 143, 164, 169, 237, 232, 210, 200,
       154, 181, 173, 155, 207, 201, 161, 208, 185, 153, 174, 178, 198,
       166, 238, 186, 170, 183, 159, 189, 182, 151, 137, 139, 193, 172,
       167, 176, 191, 187, 234, 197, 211, 194, 216, 212, 142, 148, 190,
       205, 158, 220, 215, 228, 218, 229, 231, 209, 217, 206, 223, 214,
       192, 222, 221, -999999, 226, 233, 241, 235, 236, 227, 219, 224,
       240, 203, 213, 239, 230, 242, 243, 244, 246, 245, 247, 248, 249,
       250, 251, 252, 253, 254, 255, 256, 257], dtype=object)

In [43]:
df['antiguedad'].replace('     NA', -99, inplace=True)
df['antiguedad'] = df['antiguedad'].astype('int')

'renta'의 경우 unique 값이 너무 많아서 리스트로 받아 확인해 봤더니 nan값이 섞여 있어서  
nan만 수정해주면 될 줄 알았으나, nan 말고도 결측치가 있었음.  
또한 바로 int형으로 전환이 되지 않고 float형으로 변환 후 다시 int로 변환해 주어야 했음

In [47]:
df['renta'].unique()

array([87218.1, 35548.74, 122179.11000000002, ..., '  139164.12',
       '  100647.45', '   72765.27'], dtype=object)

In [49]:
n = df['renta'].unique().tolist()

In [53]:
n

[87218.1,
 35548.74,
 122179.11000000002,
 119775.54,
 nan,
 22220.04,
 295590.36,
 113316.66,
 113194.98,
 72575.88,
 113538.81,
 61605.09,
 68318.45999999999,
 65608.35,
 73432.47,
 64620.56999999999,
 64194.99000000001,
 119173.88999999998,
 58728.39,
 86863.38,
 68421.36,
 90408.75,
 74780.37,
 120146.49,
 91282.71,
 131351.94,
 113279.1,
 70777.59,
 77320.92,
 64398.06,
 171398.84999999998,
 64031.25,
 90431.85,
 157191.69,
 37075.26,
 245052.27,
 57155.34,
 53631.36,
 72880.79999999999,
 84061.95000000001,
 106686.96,
 132398.40000000002,
 148080.45,
 101919.09,
 122456.91,
 94683.27,
 289211.4,
 34406.58,
 77346.51,
 136930.23,
 148677.18,
 45345.18,
 28359.36,
 137894.63999999998,
 139502.28,
 149099.88,
 95302.5,
 110245.53,
 60072.81,
 34802.01,
 79998.72,
 55331.31,
 173223.78,
 47332.86,
 111933.0,
 107634.66,
 55561.62,
 215373.3,
 64258.14,
 59930.22,
 162609.54,
 74708.49,
 68155.5,
 77383.98,
 56347.68000000001,
 112330.35,
 95392.71,
 73020.18000000001,
 101293.11000000002,
 113580.78,
 158207.40000000002,
 60067.86,
 77713.95000000001,
 42423.03,
 154107.09,
 93241.92,
 46257.72,
 130311.75,
 58682.34,
 103775.1,
 59551.65,
 36372.0,
 134770.2,
 124518.48,
 59537.49000000001,
 63342.36,
 54141.03,
 74689.35,
 147215.97,
 99272.52,
 46145.94,
 64347.36,
 151852.47,
 82756.11,
 67018.92,
 111926.91,
 56603.76,
 58801.02,
 134144.28,
 37778.01,
 214309.14,
 112228.41,
 66540.48,
 73414.65,
 189110.64,
 84365.58,
 42247.26,
 180338.19,
 103915.47,
 133865.43,
 65012.64,
 126039.36000000002,
 72203.85,
 323722.5,
 243690.57,
 93297.81,
 102242.25,
 92941.65,
 72729.48,
 112788.38999999998,
 330939.12,
 57358.02,
 68472.63,
 85170.99,
 99813.3,
 72727.77,
 143977.8,
 55686.72,
 43845.0,
 89386.86,
 115583.91,
 81308.45999999999,
 640168.26,
 142219.8,
 50577.66,
 109071.12,
 70577.61,
 45758.82,
 90092.43,
 84510.09,
 57926.16,
 195550.95,
 88561.68000000002,
 44001.60000000001,
 49700.76,
 47843.46,
 31697.07,
 50423.58,
 57371.76,
 91258.47,
 38074.32,
 129751.02,
 85067.16,
 85670.88,
 30906.81,
 50229.09,
 34358.88,
 122336.88,
 182521.62,
 49074.51,
 150781.41,
 72013.38,
 67354.74,
 166221.81,
 96211.98,
 59406.69,
 118859.34,
 13093.26,
 61214.85000000001,
 114761.19,
 149086.02,
 105335.94,
 67719.18000000001,
 148870.98,
 247846.8,
 35610.149999999994,
 43060.35000000001,
 44938.2,
 31216.23,
 64377.69,
 59912.88,
 111895.86000000002,
 311520.44999999995,
 81689.91,
 140953.86000000002,
 25694.58,
 94136.49,
 39389.4,
 90461.7,
 50457.06,
 175780.83000000002,
 57684.12,
 85568.97,
 43242.21,
 85073.61,
 64886.31,
 140940.27,
 128396.19,
 98243.4,
 100792.08,
 40882.29,
 105114.81,
 95234.76,
 90872.37,
 70435.44,
 42778.98,
 46364.61,
 97533.84,
 88349.85,
 73938.9,
 37729.83,
 110521.98,
 80555.64,
 281761.02,
 42273.99,
 126947.19,
 45086.37,
 69094.08,
 43947.27,
 39097.98,
 116311.88999999998,
 102857.34,
 57965.34,
 107045.79,
 56271.09,
 23824.32,
 56709.78,
 110465.58,
 40881.75,
 40852.53,
 58142.7,
 77098.77,
 123240.45,
 62151.18000000001,
 88658.25,
 66288.09,
 694172.8500000001,
 162359.91,
 90636.39,
 192255.09,
 37008.60000000001,
 82451.25,
 79683.84,
 69293.43000000001,
 88394.76,
 140829.0,
 106756.17,
 66698.61,
 30535.47,
 120620.16,
 65459.37,
 54524.10000000001,
 136923.54,
 81058.77,
 288457.44,
 45566.46,
 38771.16,
 86517.24,
 100747.47,
 201083.85,
 77287.29000000001,
 93639.0,
 55568.10000000001,
 189723.06,
 116529.06,
 54032.31,
 49459.68000000001,
 355856.76,
 80976.93000000001,
 67589.28,
 237593.22000000003,
 155915.63999999998,
 34983.06,
 21499.95,
 52766.04,
 94329.15,
 247945.47000000003,
 38039.46,
 45588.75,
 440329.68,
 93290.43,
 73773.95999999999,
 55723.62,
 32943.39,
 63083.28,
 64477.53,
 128014.47,
 129902.61000000002,
 258143.28,
 21409.59,
 101748.15,
 63046.59,
 159586.44,
 174366.99,
 46456.05,
 133921.77,
 109175.34,
 25934.55000000001,
 96487.77,
 69380.94,
 95743.98,
 371313.09,
 28305.36,
 77517.0,
 50910.63,
 73161.75,
 65431.5,
 33658.590000000004,
 517491.03,
 68995.68000000001,
 132684.06,
 33263.19,
 119315.37,
 107088.06,
 131094.03,
 62171.13,
 56967.60000000001,
 110330.52,
 135536.28,
 82232.91,
 90688.05,
 216039.66,
 69131.19,
 60447.48,
 54971.22,
 68869.17,
 125221.17,
 58957.14,
 194750.25,
 67433.91,
 139241.94,
 186640.32,
 60542.25,
 128193.96,
 52931.67,
 206924.25,
 52777.5,
 69411.9,
 44890.68,
 100985.82,
 103928.16,
 58873.95,
 66474.29999999999,
 212434.44,
 47382.24,
 107645.82,
 104039.1,
 187596.69,
 38420.37,
 138819.3,
 42729.72,
 129970.11000000002,
 237484.71,
 72540.87,
 100036.47,
 69710.31,
 69481.92,
 63048.99000000001,
 119972.37,
 126123.33,
 70921.41,
 364243.44,
 108519.51,
 365948.07,
 926880.45,
 154261.98,
 65238.21,
 109381.41,
 25762.35,
 117134.16,
 67181.64,
 73723.47,
 60330.48,
 25010.94,
 87384.63,
 37896.0,
 89161.04999999997,
 252104.58,
 60706.17,
 115407.72,
 365727.99,
 121045.71,
 27324.57,
 76899.12,
 112374.51,
 271389.57,
 40418.10000000001,
 47111.34,
 58180.29,
 49838.94,
 101984.85,
 86394.27,
 57865.41,
 41442.21,
 199649.76,
 36725.28,
 49859.13,
 45251.7,
 29389.44,
 326482.53,
 59259.9,
 127387.65,
 55614.87,
 51473.79,
 74408.88,
 136572.90000000002,
 134373.06,
 41430.24,
 109422.96,
 108421.98,
 133243.29,
 45681.48,
 64317.21,
 242115.99,
 66407.91,
 75208.98,
 61998.03,
 311891.1,
 62874.24000000001,
 123576.93,
 172272.0,
 115710.48,
 55264.41,
 66578.58,
 76088.94,
 53997.72,
 39263.16,
 128622.15,
 29632.74,
 191768.16,
 36745.35000000001,
 80142.20999999999,
 63817.08,
 47329.5,
 138497.16,
 58255.41,
 159611.22,
 54716.79,
 129780.12,
 51564.81,
 55874.81999999999,
 66669.36,
 66798.06,
 64357.26,
 58150.56,
 84984.95999999999,
 106180.47,
 39557.25,
 78505.47,
 374739.9,
 89205.09,
 40266.69,
 67345.95000000001,
 309916.23,
 44856.33,
 58533.93000000001,
 86451.78,
 31226.85,
 232783.23,
 59781.45,
 99070.8,
 156591.21,
 376945.77,
 92888.67,
 55838.19,
 117751.38,
 230417.04,
 83893.08,
 113431.5,
 91694.46,
 38141.19,
 80772.33,
 69380.91,
 70641.48,
 99717.06,
 78176.22,
 84704.06999999999,
 103076.34,
 139467.38999999998,
 119864.73,
 91111.2,
 97986.15,
 85266.24,
 254588.58,
 41530.23,
 65884.65,
 82090.38,
 96957.12,
 147710.19,
 58038.87,
 71335.14,
 13560.12,
 104492.67,
 109113.15,
 193866.12,
 487858.47,
 263826.03,
 50061.15,
 91678.05,
 70087.98,
 55927.71,
 78466.77,
 67057.44,
 61225.59,
 105883.13999999998,
 56317.65,
 198016.17,
 242314.05,
 57191.25,
 98444.22,
 37393.35000000001,
 83473.26,
 67195.53,
 82592.64,
 224768.04,
 92801.31,
 86581.56,
 33257.61,
 98458.2,
 116323.88999999998,
 84762.48,
 89232.39,
 124670.88,
 45705.18,
 159339.54,
 129535.32,
 68217.39,
 83267.67,
 33953.28,
 65629.74,
 206651.22000000003,
 131947.53,
 90231.0,
 60791.22,
 101694.57,
 33993.149999999994,
 57754.05,
 54758.25,
 31363.11,
 75774.93000000001,
 56336.46,
 79954.89,
 90746.82,
 43241.88,
 150626.49,
 119190.72,
 46930.26,
 80110.62,
 60994.5,
 20717.58,
 30534.99,
 218032.65,
 102281.22,
 22459.32,
 82412.61,
 211263.27,
 229315.08,
 150327.21,
 151491.41999999998,
 76991.19,
 256174.92,
 62869.77,
 52921.38,
 67710.56999999999,
 259360.08,
 128063.63999999998,
 65752.92,
 104613.54,
 178799.7,
 34580.58,
 134398.02,
 57131.28,
 58776.45,
 93841.86,
 118359.84,
 41642.46,
 54342.24000000001,
 136867.56,
 116288.25,
 59823.12,
 41327.16,
 67094.91,
 126568.95,
 87606.66,
 75581.31,
 68036.19,
 80370.33,
 30685.32,
 184968.3,
 168028.83000000002,
 54645.15,
 27585.30000000001,
 58055.91,
 635159.34,
 72082.14,
 53604.78,
 96174.66,
 172738.2,
 41098.47,
 63054.63,
 72859.08,
 25708.98,
 58594.68000000001,
 24381.0,
 161055.72,
 68591.45999999999,
 121507.59,
 86176.89,
 275829.48,
 18151.14,
 52773.87,
 54232.5,
 34161.33,
 54230.04,
 42251.73,
 78677.88,
 115120.59,
 242469.93,
 44320.44,
 115784.4,
 129198.06,
 105293.46,
 179334.12,
 66266.34,
 130327.17,
 361243.89,
 210066.78,
 141119.01,
 124481.55,
 106980.15,
 271896.6,
 42717.93,
 79825.11,
 130172.04,
 243726.18,
 211463.31,
 60292.59,
 34273.38,
 44598.03,
 70880.37,
 53895.99000000001,
 44251.38,
 92439.78,
 79775.61,
 48950.61,
 177499.68,
 95765.13,
 92681.97,
 23516.85,
 88812.33,
 27652.35,
 23758.41,
 137502.57,
 23338.44,
 878790.72,
 52210.68000000001,
 44550.54,
 174863.79,
 68911.68000000001,
 246758.25,
 33487.89,
 66303.69,
 52128.81,
 353866.23,
 70410.15,
 77928.9,
 110311.32,
 132566.94,
 64265.52,
 92330.04,
 243343.77,
 195421.38,
 75415.83,
 61573.29,
 62038.35000000001,
 219577.5,
 67037.81999999999,
 147808.95,
 111704.43,
 162661.95,
 56475.78,
 46179.63,
 73378.62,
 70959.06,
 210968.52,
 68980.20000000001,
 106182.75,
 54419.49000000001,
 91481.19,
 116003.88,
 57338.28,
 157158.27,
 30832.92,
 111695.4,
 84435.51,
 220794.72000000003,
 72146.70000000001,
 69208.38,
 82229.28,
 181600.98,
 32703.87000000001,
 139506.51,
 104292.78,
 44764.92,
 205878.87,
 69071.45999999999,
 44612.31,
 71042.1,
 71583.84,
 38971.11,
 73102.65,
 70867.95000000001,
 104918.61000000002,
 27632.91,
 100066.08,
 69208.89,
 55019.43000000001,
 50349.96,
 100832.19,
 97854.24,
 175959.0,
 111784.88999999998,
 123140.25,
 127118.16,
 131145.06,
 125294.28,
 64156.83,
 76270.56,
 78852.36,
 49630.5,
 47155.47,
 135558.27,
 151461.38999999998,
 56474.85000000001,
 145029.36000000002,
 167432.76,
 90200.19,
 66085.83,
 66162.51,
 87472.83,
 107831.07,
 69195.12,
 100663.13999999998,
 140534.43,
 73119.84,
 77807.97,
 55560.99000000001,
 146910.15000000002,
 334209.99,
 296890.5,
 56997.06,
 138675.41999999998,
 113229.9,
 88727.28,
 82772.34,
 167729.04,
 58348.5,
 114178.68,
 46627.02,
 58039.26,
 39475.56,
 22395.54,
 239877.81,
 162489.72,
 120058.65,
 94077.75,
 78642.51,
 75715.70999999999,
 114477.66,
 71080.44,
 80425.08,
 146149.13999999998,
 61579.83,
 59322.60000000001,
 55288.56,
 64987.05,
 154899.59999999998,
 50468.22,
 93898.26,
 163779.03,
 73548.78,
 88500.36,
 112743.54,
 80201.52,
 69430.92,
 102091.5,
 164964.15000000002,
 184299.09,
 55537.65,
 105617.31,
 65761.08,
 93123.72,
 128190.9,
 94603.68,
 38025.0,
 83184.72,
 49468.65,
 87976.98,
 87545.34,
 217564.62,
 57670.31999999999,
 104299.59,
 206623.62,
 187831.77,
 40456.53,
 139875.99,
 135628.95,
 97303.08,
 170345.66999999998,
 93709.68,
 33979.71,
 69921.06,
 82536.48,
 97983.06,
 79567.47,
 160779.0,
 86568.54000000001,
 61782.48,
 80403.18000000001,
 91297.59,
 107598.96,
 105633.42,
 69838.17,
 407454.75,
 59130.93000000001,
 102729.24,
 125167.88999999998,
 98546.34,
 123992.04,
 37206.06,
 66551.13,
 43022.37,
 158718.06,
 80607.39,
 94773.45,
 59651.58,
 67619.22,
 75235.35,
 88105.41,
 243069.3,
 198239.43,
 104744.49,
 65658.95999999999,
 174214.86000000002,
 93067.71,
 208458.27,
 44623.95,
 643112.46,
 51293.81999999999,
 85962.66,
 66315.87,
 20079.75,
 66934.79999999999,
 173690.79,
 234445.41,
 145483.71,
 70812.39,
 79038.75,
 186560.97,
 57651.51,
 63765.93000000001,
 75191.22,
 220462.35,
 174855.33000000002,
 85626.29999999999,
 293463.15,
 84695.22,
 57753.84,
 44595.33,
 208076.73,
 763791.45,
 42758.46,
 120320.49,
 169261.95,
 80191.17,
 196587.0,
 91034.22,
 141893.01,
 77465.4,
 65828.61,
 123561.72,
 69934.68000000001,
 53839.74000000001,
 34900.71,
 207163.74,
 83142.36,
 473916.18,
 116117.94,
 156485.94,
 86014.70999999999,
 96745.2,
 160862.22,
 64487.64,
 358744.65,
 153979.5,
 126357.03,
 120167.55,
 141656.25,
 94178.4,
 301568.52,
 66776.64,
 38012.28,
 94560.63,
 43667.31,
 65062.02,
 54419.25,
 120756.45,
 60211.71,
 72837.36,
 117091.77,
 73633.79999999999,
 90404.88,
 78375.20999999999,
 61818.60000000001,
 121256.58,
 87667.68000000001,
 29653.53,
 133022.46,
 1415413.26,
 131647.13999999998,
 89674.44,
 187287.75,
 184333.32,
 122564.97,
 171336.78,
 55318.08,
 226134.57,
 83381.81999999999,
 85727.37,
 145333.91999999998,
 121226.67,
 129513.09,
 74376.09,
 101564.01,
 146058.24,
 85928.88,
 75798.63,
 50730.60000000001,
 188113.23,
 44444.34,
 139779.96,
 55874.10000000001,
 113870.76,
 170241.09,
 71033.91,
 83673.75,
 210413.43,
 63156.33,
 96556.05,
 50317.41,
 51836.19,
 66849.0,
 71095.5,
 72315.93000000001,
 72346.38,
 64662.39,
 155890.13999999998,
 228710.7,
 51166.44,
 34937.22,
 43379.49,
 141520.59,
 116714.73,
 82226.76,
 90839.1,
 46815.63,
 192383.16,
 111346.41,
 185683.44,
 164435.66999999998,
 40257.57,
 93370.5,
 27885.81,
 82167.66,
 111789.99,
 79630.44,
 29094.090000000004,
 49019.58,
 22558.05000000001,
 101282.91,
 103154.19,
 148381.38,
 106279.56,
 69916.17,
 95585.34,
 379260.6,
 78583.08,
 144185.46,
 90844.29,
 119813.94,
 ...]

In [54]:
df['renta'].fillna(-99, inplace=True)
df['renta'] = df['renta'].astype('int')

ValueError: invalid literal for int() with base 10: '  326124.90'

In [55]:
df['renta'].fillna(-99, inplace=True)
df['renta'] = df['renta'].astype('float').astype('int')

ValueError: could not convert string to float: '         NA'

In [57]:
df['renta'].replace('         NA', -99, inplace=True)
df['renta'].fillna(-99, inplace=True)
df['renta'] = df['renta'].astype('float').astype('int')

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12020685 entries, 0 to 929614
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           int64
 3   pais_residencia        int64
 4   sexo                   int64
 5   age                    int32
 6   fecha_alta             object
 7   ind_nuevo              int64
 8   antiguedad             int32
 9   indrel                 int64
 10  ult_fec_cli_1t         object
 11  indrel_1mes            int64
 12  tiprel_1mes            int64
 13  indresi                int64
 14  indext                 int64
 15  conyuemp               int64
 16  canal_entrada          int64
 17  indfall                int64
 18  cod_prov               int64
 19  ind_actividad_cliente  int64
 20  renta                  int32
 21  segmento               int64
 22  ind_ahor_fin_ult1      int64
 23  ind_aval_fin_ult1      int64
 24  ind_cco_fin_ult1       int64
 25  ind_cder_fin_ult1      int64
 26  ind_cno_fin_ult1       int64
 27  ind_ctju_fin_ult1      int64
 28  ind_ctma_fin_ult1      int64
 29  ind_ctop_fin_ult1      int64
 30  ind_ctpp_fin_ult1      int64
 31  ind_deco_fin_ult1      int64
 32  ind_deme_fin_ult1      int64
 33  ind_dela_fin_ult1      int64
 34  ind_ecue_fin_ult1      int64
 35  ind_fond_fin_ult1      int64
 36  ind_hip_fin_ult1       int64
 37  ind_plan_fin_ult1      int64
 38  ind_pres_fin_ult1      int64
 39  ind_reca_fin_ult1      int64
 40  ind_tjcr_fin_ult1      int64
 41  ind_valo_fin_ult1      int64
 42  ind_viv_fin_ult1       int64
 43  ind_nomina_ult1        float64
 44  ind_nom_pens_ult1      float64
 45  ind_recibo_ult1        int64
dtypes: float64(2), int32(3), int64(38), object(3)
memory usage: 4.1+ GB

In [85]:
# 학습에 사용할 수치형 변수를 features에 추가한다.
features.append(['age', 'antiguedad', 'renta'])

append를 사용 했더니 리스트가 각각 분할되어 들어가는 것이 아니라, 리스트 자체로 삽입이 됨.

In [86]:
features

['ind_empleado',
 'pais_residencia',
 'sexo',
 'ind_nuevo',
 'indrel',
 'indrel_1mes',
 'tiprel_1mes',
 'indresi',
 'indext',
 'conyuemp',
 'canal_entrada',
 'indfall',
 'cod_prov',
 'ind_actividad_cliente',
 'segmento',
 ['age', 'antiguedad', 'renta']]

잘못 삽입된 값을 삭제하고 다시 추가

In [87]:
features.remove(['age', 'antiguedad', 'renta'])

In [88]:
features += ['age', 'antiguedad', 'renta']

In [89]:
features

['ind_empleado',
 'pais_residencia',
 'sexo',
 'ind_nuevo',
 'indrel',
 'indrel_1mes',
 'tiprel_1mes',
 'indresi',
 'indext',
 'conyuemp',
 'canal_entrada',
 'indfall',
 'cod_prov',
 'ind_actividad_cliente',
 'segmento',
 'age',
 'antiguedad',
 'renta']